<div id="recipes-container">
  {% for mealType in ['breakfast', 'lunch', 'dinner', 'dessert'] %}
    <h3 class="mt-4 mb-3">{{ mealType.capitalize() }}</h3>
    <div class="row mb-4">
      {% for recipe in data[mealType].results[:2] %}
        <div class="col-md-6">

        <div class="card h-100">
          <img src="{{ recipe.image }}" alt="{{ recipe.title }}" class="card-img-top recipe-img">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ recipe.title }}</h5>
            <p class="card-text recipe-summary">{{ recipe.summary }}</p>
            <div class="mt-auto">
              <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-success btn-sm" hx-target="#nutrients_left" hx-post="/update_nutrients?recipe_id={{ recipe.id }}" hx-trigger="click">Eat me!</button>
                <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#recipeModal" hx-get="/recipes?recipe_id={{ recipe.id }}" hx-target="#recipe-modal-body" hx-trigger="click">Show Recipe Details</button>
              </div>
            </div>
          </div>
        </div>

        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>

{# Recipe Modal #}
<div class="modal fade" id="recipeModal" tabindex="-1" aria-labelledby="recipeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="recipeModalLabel">Recipe Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="recipe-modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<style>
  .recipe-img {
    height: 150px;
    object-fit: cover;
  }

  .card {
    height: 100%;
  }

  .card-title {
    font-size: 1.1rem;
  }

  .recipe-summary {
    font-size: 0.9rem;
  }
</style>
