{% extends 'base.html' %}

{% block content %}

<style>
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }

  .typing-animation {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1s steps(40, end);
  }
</style>



<div class="row justify-content-center">

  {# Leftmost form. This is the chatbot #}
  <div class="col-md-6">
    <div class="card">

      <div class="card-body d-flex flex-column justify-content-center align-items-center" style="height: 80vh; overflow-y: auto;">
        <div style="width: 40%; padding-top: 40%; position: relative; margin-bottom: 20px; border-radius: 50%; overflow: hidden;">
          <iframe src="https://gifer.com/embed/75lD" width="100%" height="100%" style="position: absolute; top: 0; left: 0;" frameBorder="0" allowFullScreen></iframe>
        </div>
        <div class="text-center">
          <h3>Hello, human. I'm here to help you get swole. Let's build a system around you.</h3>
        </div>
  
        <div class="text-center mt-5">
          <h6 class="typing-animation">What is your present weight and goal weight?</h6>
        </div>

        {% if result %}
          <div id="response">{{ result }}</div>
        {% endif %}

      </div>

      <div class="card-footer">

          <form hx-post="/generate" hx-target="#response">
              <div class="input-group">
                  <input type="text" class="form-control" name="user_input" placeholder="Type your message...">
                  <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">Send</button>
                  </div>
              </div>
          </form>

          <div id="response">{{ result }}</div>
      </div>

    </div>
  </div>

  {# Rightmost form. This is the user build #}
  <div class="col-md-6">
    <div class="card">
      <div class="card-body" style="height: 86vh; overflow-y: auto;">


        <h1>Traits about you</h1>

        <h3>Let's work on</h3>
        <p> Current Weight: XXX </p>
        <p> Ideal weight : XXX </p>
        <p> Body Mass Index: XXX </p>
        <p> Current Body Composition: Skinny fat </p>
        <p> Transformation Archetype:  Endurance Master </p>

        <h3>Your natural stats</h3>

        <p> Age: XXX </p>
        <p> Sex: M/F/T </p>
        <p> Dietary Restriction:</p>
        <ul>
          <li>
            Allergies: XXX
          </li>
          <li>
            Present diet: XXX
          </li>
          <li>
            Religion: XXX
          </li>
          <li>
            Anything else: XXX
          </li>
        </ul>
        <p> Physical Impediments: XXX </p>


      </div>
      <div class="text-center mt-auto">
        <button type="button" class="btn btn-primary btn-lg px-4 py-3" data-mdb-ripple-init onclick="location.href='{{ url_for('builder') }}'">Get Started</button>
      </div>

    </div>

  </div>

</div>
{% endblock %}

