<div class="row">
  {% for mealType in ['breakfast', 'lunch', 'dinner', 'dessert'] %}
    <div class="col-md-6">
      <h3>{{ mealType.capitalize() }}</h3>
      <div class="row">
        {% for recipe in data[mealType].results[:2] %}
          <div class="col-md-6">
            <div class="card mb-3">
              <img src="{{ recipe.image }}" alt="{{ recipe.title }}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{ recipe.title }}</h5>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
